.num-citas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid $blanco;

  @include tablet {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
  }
}

.datos-cita {
  text-align: center;
  margin-top: 2rem;
}
.contenedor-cita {
  margin-top: 1rem;
  padding: 0;
  p {
    color: $blanco;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 1.8rem 0;
    span {
      color: $azul;
      font-weight: bold;
      font-size: 2.2rem;
    }
    .estado {
      color: $blanco;
      font-weight: 400;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  .contenido-servicio{
    margin-top: 3rem;
  }
  @include tablet {
    @include grid(2, 2rem);

    .contenido-servicio {
      grid-column: 2;
      border-left: 1px solid $blanco;
      margin-top: 0
    }
  }
}
.ver-citas {
  .h-resumen {
    margin: 1rem 0 0;
  }

  border-bottom: 1px solid $blanco;
  margin: 3rem 0;
}
.contenedor-servicio{
  margin-top: 1rem;
  padding: 0;
  p {
    color: $blanco;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 1.8rem 0;
    span {
      color: $azul;
      font-weight: bold;
      font-size: 2.2rem;
    }

  }
  .datos-cita {
    text-align: center;
    margin-top: 1rem;
  }
}